# JS
node_modules/

# Capacitor / Android build
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
.gradle/

# Signing — ne JAMAIS committer
*.keystore
*.jks
keystore.properties

# Divers
.DS_Store
*.log
